.bus{
    margin-top: 20px;
    overflow-y:auto;
    margin-left: 10%;
}

table{
    border-collapse: collapse;
    text-align: center;
    width: 75%;

}

table, td, th {
    border: 1px solid;
  }

  td, th {
    padding: 10px;
  }

 td :nth-child(0){
    background-color: antiquewhite;
}
